project_id = "my-gcp-project-dev"
region     = "us-central1"
env        = "dev"

# Mismo VPC self_link que en compute (vienen ambos del stack network).
vpc_self_link     = "projects/my-gcp-project-dev/global/networks/applocker-vpc-dev"
network_self_link = "projects/my-gcp-project-dev/global/networks/applocker-vpc-dev"